{% extends "templates/error.html" %}

{% block title %}Error{% endblock %}

{% block scripts %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGJBQJYQ4X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RGJBQJYQ4X');
</script>

<script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("components/jquery/dist/jquery.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("components/bootstrap/dist/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}

{% block error_detail %}
{{ super() }}
{% if status_code == 403 %}
  <p><strong>It looks like you need to request an account!</strong></p>
  <p>If you are a student or professor in NCU CSIE, you can request an account by
  <a href="mailto:shadowcollect@csie.ncu.edu.tw">sending us</a> an email.</p>
  <p>Transfer students from other departments should send us a mail too.</p>
{% elif status_code == 400 %}
  <p>If your authentication has expired, please login again from <a href="/">the home page</a>.</p>
{% else %}
  <p>Oh no! Something is probably wrong on our end. If this problem persists, please <a href="mailto:shadowcollect@csie.ncu.edu.tw">email us</a>.</p>
{% endif %}
{% endblock error_detail %}
